@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import "./../../ngx-compack/assets/variables.scss";
@import "./../../ngx-compack/assets/compack-button.scss";
@import "./../../ngx-compack/assets/compack-side-bar.scss";

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Nunito";
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #e9e1e1;
}
