<div class="container">

    <div class="col">

        <div class="title"> test datapicker</div>

        <hr>

        <compack-date-picker [rangeMode]="rangeMode" [type]="type" [viewFieldSelectedDate]="viewFieldSelectedDate"
            [formatOutputDate]="formatOutputDate" [useTime]="useTime" [maxChoseDay]="maxChoseDay" [locale]="locale"
            [max]="max" [min]="min" (selectLastDateEvent)="selectLastDateEvent($event)">
        </compack-date-picker>

    </div>

    <div class="col">

        <div class="title">params</div>

        <hr>

        <div class="field_group">
            <p>locale <input type="text" [(ngModel)]="locale" /></p>
        </div>

        <div class="field_group">
            <p>use time <input type="checkbox" [(ngModel)]="useTime"></p>
        </div>

        <div class="field_group">
            <p>rangeMode <input type="checkbox" [(ngModel)]="rangeMode"></p>
        </div>

        <div class="field_group">
            <p>viewFieldSelectedDate <input type="checkbox" [(ngModel)]="viewFieldSelectedDate"></p>
        </div>

        <div class="field_group">
            <p>maxChoseDay <input type="number" [(ngModel)]="maxChoseDay" /></p>
        </div>

        <div class="field_group">
            <p>formatOutputDate <input type="text" [(ngModel)]="formatOutputDate" /></p>
        </div>

        <div class="field_group">
            <p>type <select [(ngModel)]="type">
                    <option>block</option>
                    <option>line</option>
                    <option>icon</option>
                </select>
            </p>
        </div>

        <div class="field_group">
            <p>min</p>
            <div class="max_container">
                <compack-date-picker [type]="'line'" (selectLastDateEvent)="selectMinDateEvent($event)">
                </compack-date-picker>
            </div>
        </div>

        <div class="field_group">
            <p>max</p>
            <div class="max_container">
                <compack-date-picker [type]="'line'" (selectLastDateEvent)="selectMaxDateEvent($event)">
                </compack-date-picker>
            </div>
        </div>

        <div class="field_group">
            <p>selected</p>
            {{selectedDatesStr}}
        </div>

    </div>

</div>