<div class="container">

    <div class="menu">
        <button class="btn" (click)="loadTemplate(0)" [class.active]="viewComponent==0">picker</button>
        <button class="btn" (click)="loadTemplate(1)" [class.active]="viewComponent==1">Toast</button>
        <button class="btn" (click)="loadTemplate(2)" [class.active]="viewComponent==2">Banner</button>
    </div>

    <div class="view_container">
        <ng-template [ngTemplateOutlet]="selectedTemplate"></ng-template>
    </div>


    <ng-template #picker>

        <div class="picker_container">

            <!-- <div class="col spinner_col">

                <div class="box_container">
                    <div class="wrapper">
                        <div class="box red top_right"></div>
                        <div class="box red top_left"></div>
                        <div class="box black bottom_right"></div>
                        <div class="box black bottom_left"></div>
                        <div class="box white middle"></div>
                    </div>
                </div>

            </div> -->

            <div class="col">

                <compack-date-picker [rangeMode]="rangeMode" [type]="type" [disabled]="disabled"
                    [setDate]="setDateEvent" [viewFieldSelectedDate]="viewFieldSelectedDate"
                    [formatOutputDate]="formatOutputDate" [useTime]="useTime" [maxChoseDay]="maxChoseDay"
                    [locale]="locale" [max]="max" [min]="min" [autoSelect]="autoSelect"
                    (selectLastDateEvent)="selectLastDateEvent($event)">
                </compack-date-picker>

            </div>

            <div class="col">

                <div class="param_col">

                    <div class="field_group">
                        locale: <input type="text" [(ngModel)]="locale" />
                    </div>

                    <div class="field_group">
                        auto select: <input type="checkbox" [(ngModel)]="autoSelect">
                    </div>

                    <div class="field_group">
                        use time: <input type="checkbox" [(ngModel)]="useTime">
                    </div>

                    <div class="field_group">
                        disabled: <input type="checkbox" [(ngModel)]="disabled">
                    </div>

                    <div class="field_group">
                        rangeMode: <input type="checkbox" [(ngModel)]="rangeMode">
                    </div>

                    <div class="field_group">
                        viewFieldSelectedDate: <input type="checkbox" [(ngModel)]="viewFieldSelectedDate">
                    </div>

                    <div class="field_group">
                        maxChooseDay: <input type="number" [(ngModel)]="maxChoseDay" />
                    </div>

                    <div class="field_group">
                        formatOutputDate: <input type="text" [(ngModel)]="formatOutputDate" />
                    </div>

                    <div class="field_group">
                        <button (click)="OnSetDate()">setDate</button>
                    </div>

                    <div class="field_group">
                        type:
                        <select [(ngModel)]="type">
                            <option>block</option>
                            <option>line</option>
                            <option>icon</option>
                        </select>
                    </div>

                    <div class="field_group col_view">
                        min:
                        <div class="max_container">
                            <compack-date-picker [type]="'line'" (selectLastDateEvent)="selectMinDateEvent($event)"
                                [autoSelect]="true" >
                            </compack-date-picker>
                        </div>
                    </div>

                    <div class="field_group col_view">
                        max:
                        <div class="max_container">
                            <compack-date-picker [type]="'line'" (selectLastDateEvent)="selectMaxDateEvent($event)"
                                [autoSelect]="true">
                            </compack-date-picker>
                        </div>
                    </div>

                    <div class="field_group col_view">
                        selected:
                        <span>{{selectedDateOneStr}}</span>
                        <span>{{selectedDateTwoStr}}</span>
                    </div>

                </div>

            </div>

        </div>

    </ng-template>

    <ng-template #toast>

        <div class="toast_container">

            <div class="toast_settings">

                <div class="field_group">
                    typeToast:
                    <select [(ngModel)]="toastType">
                        <option [value]="0">Error</option>
                        <option [value]="1">Info</option>
                        <option [value]="2">Success</option>
                    </select>
                </div>

                <div class="field_group col_view">
                    title:
                    <input [(ngModel)]="toastTitle">
                </div>

                <div class="field_group col_view">
                    text:
                    <textarea [(ngModel)]="toastText"></textarea>
                </div>

                <div class="field_group">
                    view time:
                    <input [(ngModel)]="toastTimeToDel" (ngModelChange)="setToastTimeToDel()" type="number">
                </div>

                <div class="field_group color">
                    error Color:
                    <input [(ngModel)]="toastErrorColor" (ngModelChange)="setToastErrorColor()">
                    <span class="box" [style.background-color]="toastErrorColor" [(colorPicker)]="toastErrorColor"
                        (colorPickerChange)="setToastErrorColor()" [cpPosition]="'bottom'"></span>
                </div>

                <div class="field_group color">
                    info Color:
                    <input [(ngModel)]="toastInfoColor" (ngModelChange)="setToastInfoColor()">
                    <span class="box" [style.background-color]="toastInfoColor" [(colorPicker)]="toastInfoColor"
                        (colorPickerChange)="setToastInfoColor()" [cpPosition]="'bottom'"></span>
                </div>

                <div class="field_group color">
                    success Color:
                    <input [(ngModel)]="toastSuccessColor" (ngModelChange)="setToastSuccessColor()">
                    <span class="box" [style.background-color]="toastSuccessColor" [(colorPicker)]="toastSuccessColor"
                        (colorPickerChange)="setToastSuccessColor()" [cpPosition]="'bottom'"></span>
                </div>

                <div class="field_group">
                    <button class="btn" (click)="viewToast()">View</button>
                </div>

            </div>

        </div>

    </ng-template>

    <ng-template #banner>

        <div class="banner_container">

            <div class="banner_settings">

                <div class="field_group">
                    type Banner:
                    <select [(ngModel)]="bannerType">
                        <option [value]="0">Info</option>
                        <option [value]="1">Error</option>
                    </select>
                </div>

                <div class="field_group">
                    position Banner:
                    <select [(ngModel)]="bannerPosition">
                        <option [value]="0">Top</option>
                        <option [value]="1">TopLeft</option>
                        <option [value]="2">TopRight</option>
                        <option [value]="3">Middle</option>
                        <option [value]="4">Bottom</option>
                        <option [value]="5">BottomLeft</option>
                        <option [value]="6">BottomRight</option>
                    </select>
                </div>

                <div class="field_group col_view">
                    title:
                    <input [(ngModel)]="bannerTitle">
                </div>

                <div class="field_group col_view">
                    text:
                    <textarea [(ngModel)]="bannerMessage"></textarea>
                </div>

                <div class="field_group">
                    view time:
                    <input [(ngModel)]="bannerViewTime" type="number">
                </div>

                <div class="field_group color">
                    error Color:
                    <input [(ngModel)]="bannerErrorColor" (ngModelChange)="setBannerErrorColor()">
                    <span class="box" [style.background-color]="bannerErrorColor" [(colorPicker)]="bannerErrorColor"
                        (colorPickerChange)="setBannerErrorColor()" [cpPosition]="'bottom'"></span>
                </div>

                <div class="field_group color">
                    info Color:
                    <input [(ngModel)]="bannerInfoColor" (ngModelChange)="setBannerInfoColor()">
                    <span class="box" [style.background-color]="bannerInfoColor" [(colorPicker)]="bannerInfoColor"
                        (colorPickerChange)="setBannerInfoColor()" [cpPosition]="'bottom'"></span>
                </div>

                <div class="field_group">
                    <button class="btn" (click)="viewBanner()">View</button>

                    <button class="btn" (click)="removeBanner()">Remove</button>
                </div>

            </div>

        </div>

    </ng-template>

</div>