.cmp-span-icon {
   display: inline-block;
    color: inherit;
    line-height: 0;
    font-size: inherit;
    font-style: normal;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    vertical-align: sub;

    // display: flex;
    // align-items: center;
}

// .cmp-span-icon-container {
//     border: 1px solid transparent;
//     box-shadow: 0 2px #00000004;
//     border-radius: 2px;
//     color: #000000d9;
//     border-color: #d9d9d9;
//     background: #fff;
//     box-sizing: border-box;
//     padding: 0 5px;


//     .span-icon {
//         font-size: 20px;
//         color: #555;
//         display: flex;
//         align-items: center;
//     }
// }