<div class="container">

  <div class="settings">

    <div class="field_group">
      position Banner:
      <select [(ngModel)]="bannerPosition">
        <option [value]="0">Top</option>
        <option [value]="1">TopLeft</option>
        <option [value]="2">TopRight</option>
        <option [value]="3">Middle</option>
        <option [value]="4">Bottom</option>
        <option [value]="5">BottomLeft</option>
        <option [value]="6">BottomRight</option>
      </select>
    </div>

    <div class="field_group col_view">
      title:
      <input [(ngModel)]="bannerTitle">
    </div>

    <div class="field_group col_view">
      text:
      <textarea [(ngModel)]="bannerMessage"></textarea>
    </div>

    <div class="field_group">
      view time:
      <input [(ngModel)]="bannerViewTime" type="number">
    </div>

    <div class="field_group">
      <button cmp-button btnType="primary" (click)="viewBanner()">View</button>

      <button cmp-button btnType="dangerous" (click)="removeBanner()">Remove</button>
    </div>

  </div>

</div>