<div class="container">

  <div class="settings">

    <div class="field_group">
      typeToast:
      <select [(ngModel)]="type">
        <option [value]="0">Error</option>
        <option [value]="1">Info</option>
        <option [value]="2">Success</option>
      </select>
    </div>

    <div class="field_group col_view">
      title:
      <input [(ngModel)]="title">
    </div>

    <div class="field_group col_view">
      text:
      <textarea [(ngModel)]="text"></textarea>
    </div>

    <div class="field_group">
      view time:
      <input [(ngModel)]="timeToDel" (ngModelChange)="setToastTimeToDel()" type="number">
    </div>

    <div class="field_group">
      <button cmp-button btnType="primary" (click)="viewToast()">View</button>
    </div>

  </div>

</div>