<compack-card>

  <div class="field-group ">
    <label>typeToast:</label>
    <select [(ngModel)]="type">
      <option [value]="0">Error</option>
      <option [value]="1">Info</option>
      <option [value]="2">Success</option>
    </select>
  </div>

  <div class="field-group  field-group-col-view">
    <label>title:</label>
    <input [(ngModel)]="title">
  </div>

  <div class="field-group  field-group-col-view">
    text:
    <textarea [(ngModel)]="text"></textarea>
  </div>

  <div class="field-group ">
    view time:
    <input [(ngModel)]="timeToDel" (ngModelChange)="setToastTimeToDel()" type="number">
  </div>

  <div class="field-group ">
    <button cmp-button btnType="primary" (click)="viewToast()">View</button>
  </div>

</compack-card>