.container {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 170px;

        .btn {
            margin: 5px;
        }

        .active {
            background-color: #27ae60;
            border-color: #27ae60;
        }
    }

    .view_container {
        width: 100%;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
        overflow: auto;
    }
}
