<div class="container">

asdasdasd-new

  <div class="menu">
    <button class="btn" (click)="loadTemplate(0)" [class.active]="viewComponent===0">picker range</button>
    <button class="btn" (click)="loadTemplate(1)" [class.active]="viewComponent===1">picker</button>
    <button class="btn" (click)="loadTemplate(2)" [class.active]="viewComponent===2">date format</button>
    <button class="btn" (click)="loadTemplate(3)" [class.active]="viewComponent===3">Toast</button>
    <button class="btn" (click)="loadTemplate(4)" [class.active]="viewComponent===4">Banner</button>
  </div>

  <div class="view_container">
    <ng-template [ngTemplateOutlet]="selectedTemplate"></ng-template>
  </div>

  <ng-template #pickerRange>
    <app-display-dpr></app-display-dpr>
  </ng-template>

  <ng-template #picker>
    <app-display-dp></app-display-dp>
  </ng-template>

  <ng-template #dateFormat>
    <app-display-dfs></app-display-dfs>
  </ng-template>

  <ng-template #toast>
    <app-display-t></app-display-t>
  </ng-template>

  <ng-template #banner>
    <app-display-b></app-display-b>
  </ng-template>

</div>