<compack-card>

    <compack-alert [type]="'error'" [message]="message"></compack-alert>

    <compack-alert [type]="'info'" [message]="message"></compack-alert>

    <compack-alert [type]="'info'" [message]="message" [viewIcon]="false"></compack-alert>

    <compack-alert [type]="'success'" [message]="message"></compack-alert>

    <compack-alert [type]="'success'" [message]="messageLarge"></compack-alert>

    <compack-alert [type]="'info'" [message]="messageLarge2"></compack-alert>

    <div class="code-toolbar" codeSnippet [snippets]="snippet" [rowAttributes]="1"></div>

</compack-card>