<compack-card>

    <div class="btn-group">

        <button cmp-button btnType="default">default</button>

        <button cmp-button btnType="default" [loading]="true">default</button>

        <button cmp-button btnType="primary">primary</button>

        <button cmp-button btnType="dangerous">dangerous</button>

        <button cmp-button btnType="mode" [loading]="true">mode</button>

        <button cmp-button btnType="mode">mode</button>

        <button cmp-button btnType="mode">
            <span cmp-icon color="#fff">
                <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em"
                    data-icon="clock-circle" aria-hidden="true">
                    <path
                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                    </path>
                    <path
                        d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z">
                    </path>
                </svg>
            </span>
        </button>

        <button cmp-button btnType="mode">
            <span cmp-icon color="#fff">
                <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em"
                    data-icon="clock-circle" aria-hidden="true">
                    <path
                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                    </path>
                    <path
                        d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z">
                    </path>
                </svg>
            </span>
            mode
        </button>

        <button cmp-button btnType="mode">mode
            <span cmp-icon color="#fff">
                <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em"
                    data-icon="clock-circle" aria-hidden="true">
                    <path
                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                    </path>
                    <path
                        d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z">
                    </path>
                </svg>
            </span>
        </button>

        <button cmp-button btnType="mode" [loading]="true">mode
            <span cmp-icon color="#fff">
                <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em"
                    data-icon="clock-circle" aria-hidden="true">
                    <path
                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                    </path>
                    <path
                        d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z">
                    </path>
                </svg>
            </span>
        </button>

    </div>

    <div class="code-toolbar" codeSnippet [snippets]="snippet" [rowAttributes]="3" [viewHeader]="false"></div>

</compack-card>

<compack-card>

    <div class="line">

        <button cmp-button btnType="mode" [disabled]="disabled1" [loading]="loading1">mode</button>

        <label>disabled</label>
        <input type="checkbox" [(ngModel)]="disabled1">

        <label>loading</label>
        <input type="checkbox" [(ngModel)]="loading1">

    </div>

</compack-card>