<compack-card>

    <div class="btn-group">
        <button cmp-button btnType="default">default</button>
        <button cmp-button btnType="default" [loading]="true">default</button>
        <button cmp-button btnType="primary">primary</button>
        <button cmp-button btnType="dangerous">dangerous</button>
        <button cmp-button btnType="mode" [loading]="true">mode</button>
        <button cmp-button btnType="mode">mode</button>
    </div>

    <div class="code-toolbar" codeSnippet [snippets]="snippet" [rowAttributes]="3" [viewHeader]="false"></div>

</compack-card>